body {
    background-color: #89BAD9;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 150px;
    background-color: #0C46F2
}

.player{
    margin: 0 auto;
    text-decoration: uppercase;
    border: 2px black solid;
    width: 130px;
    text-align: center;
}

.score{
    text-align: center;
    font-size: 50px;
    background-color: black;
    color: #1374F2;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 25px;
    margin: 0 auto;
    width: 400px;
    height: 100px;
}

.player1{
    background-color: #1374F2;
}

.player2{
    background-color: #1374F2;
}

h2{
    font-size: 22px;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

button{
    margin: 80px;
    background-color: #0C46F2;
    color: #F2CB05;
    border: 3px solid #F2CB05;
    border-radius: 10px;
    text-transform: uppercase;
    width: 130px;
}

#game-board{
    display: grid;
    background-color: #F2CB05;
    height: 525px;
    width: 525px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.selection{
    background-color:#89BAD9;
    grid-column: 1 / span 7;
}